
/*Navigation Section*/
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.content {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    color: #838994; 
    letter-spacing: 0.03em;
    padding: 0px 15px;
    margin-left: 14px;
    height: 70px;
}
.logo {
    
    height: 70px;
}
.links {
    float: right;
    margin-top: 1.7rem;
    margin-right: 70px;
}
.links li {
    display: inline-block;
    margin-right: 20px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
/*Background*/
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}
.introduction > .content {
    color: white;
}