body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
/*Navigation Bar*/
.top-navigation {
    background-color: #fff;
}
.top-navigation .content {
    width: 60rem;
    height: 4.375rem;
    margin: 0 auto;
}
.top-navigation .logo {
    height: 4.375rem;
    margin-left: 70px;
}